/* universal selector */
*{
    color: rgb(226, 11, 11);
}
/* decendent selector by class name */
.page h1{
    color: green;
}
/* child selctor */
.page>h2{
    background-color: aqua;
}
/* adjisant sibling selector */
h2+p{
    color: blueviolet;
}
/* general simbling selector */
h2~p{
    color: black;
}