/* universal selector */
/* *{
    color: rgb(226, 11, 11);
} */

/* typeselector */
/* single selector */

/* span{
    color: red;
} */

/* multiple selector */
/* h1,span{
    color: red;
} */

/* class selector */
/* .interest{
    color: red;
} */
/* ID SELECTOR */
/* #my-div{
    color: red;
} */

/* CHILD SELECTOR */
/* span>p{
    color: red;
} */

/* DECENDANT SELECTOR */
/* div p{
    color: red;
} */

/* ADJESANT SIBLING SELECTOR */
/* h1+p{
    color: red;
} */

/* GENERAL SIBLING SELECTOR */
h1~P{
    color: red;
}